        <nav class="site-nav">
            <a class="page-link{% if page.section == 'home' %} active{% endif %}" href="/">Home</a>
            <a class="page-link{% if page.section == 'blog' %} active{% endif %}" href="/blog/">Blog</a>
            <a class="page-link{% if page.section == 'desktop' %} active{% endif %}" href="/desktop-build/">Desktop</a>
            <a class="page-link{% if page.section == 'resume' %} active{% endif %}" href="/resume/">Resume</a>
            <a class="page-link{% if page.section == 'projects' %} active{% endif %}" href="/projects/">Projects</a>
            <a class="page-link{% if page.section == 'archive' %} active{% endif %}" href="/archive/">Archive</a>
{% include social.html %}
        </nav>